.facetheoy-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}

.ft-header {
  width: 30%;
  margin: 0 auto;
  margin-top: 1%;
}

.ft-header > h1 {
  font-weight: bolder;
}

.ft-content {
  width: 40%;
  margin: 0 auto;
  margin-top: 30px;
}
.ft-content > p {
  font-size: 22px;
  font-weight: bold;
}
