.navbarCont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.leftNav {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
}

.leftNav > div:not([name=".logo"]) {
  font-size: 20px;
  margin: 30px;
  margin-right: 20px;
  cursor: pointer;
  height: 100%;
}

.leftNav > div:hover:not([name="logo"]) {
  border-bottom: 2px solid black;
}

.logo {
  font-size: large;
  font-weight: bolder;
  height: 50%;
  color: red;
  height: 20%;
}

.rightNav {
  display: flex;
  justify-content: space-between;
  margin-right: 100px;
  text-align: center;
  justify-content: center;
}

.login {
  margin-left: 20px;
  margin-top: 30px;
  cursor: pointer;
}

.cart {
  margin-left: 20px;
  margin-top: 30px;
  cursor: pointer;
}

.search {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  /* outline: none; */
}

.s {
  width: 300px;
  border: 1px solid black;
}

.s > input {
  height: 100%;
  width: 80%;
  float: left;
  border: none;
}

.si {
  text-align: center;
  justify-content: center;
  font-size: 40px;
  outline: none;
}

.s-icon {
  cursor: pointer;
}
