.follow-wrapper {
  margin-top: 30px;
}
.follow-social {
  display: flex;
  flex-direction: row;
  width: 14%;
  margin: 0 auto;
  justify-content: space-around;
}

.fb {
  font-size: 50px;
}

.follow-reward {
}

.follow-button {
  background: #000;
  color: white;
  margin-top: 25px;
  width: 20%;
  height: 70px;
  margin-bottom: 10px;
}

.follow-p {
  font-size: 24px;
  font-weight: bold;
}
