.card-comp {
  display: flex;
  font-display: row;
  text-align: center;
  justify-content: center;
}

.w-header {
  margin-top: 20px;
}
.cards {
  height: 300px;
  width: 300px;
  font-display: row;
  margin: 0 5px;
}
